@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #1240d6e5;
}

.wrapper{
    width: 430px;
    background: #fff;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.wrapper h1{
    font-size: 25px;
    font-weight: 800;
    padding: 20px 25px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.wrapper .content{
    margin: 25px 25px 35px ;
}

.content .inputs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content .typing-input{
    opacity: 0;
    z-index: -999;
    position: absolute;
}
.inputs input{
    font-family: sans-serif;
    height: 57px;
    width: 56px;
    margin: 4px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    color: #1bb295;
    text-align: center;
    background: none;
    border-radius: 5px;
    border: 1px solid #b5b5b5;
}

.inputs input:first-child{
    margin-left: 0px;
}

.content .details{
    margin: 20px 0 25px;
}

.details p {
    font-family: 19px;
    margin-bottom: 10px;
}
.content .reset-btn{
    width: 100%;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    font-size: 17px;
    padding: 15px 0;
    background: #0e54d6e8;
    border-radius: 7px;
}
.content .reset-btn:active{
    font-size: 12px;
}
footer{
    text-align: center;
    position:relative;
    bottom: 20px;
}
.start_game button{
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    position: absolute;
    left: 45%;
}
.wrapper.activeInfo{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    /* transform: translate(50%, 10%) scale(1); */
}

@media only screen and (max-width: 600px){
    .wrapper{
        width: 450px;
        position: relative;
        right: 15%;
    }
    .start_game button{
        position: relative;
        left: 100%;
        font-size:15px;
        width: 150%;
        border-radius: 7px;


    }
    
}
